html, body {
	height: 100%;
	margin: 0;
	background: rgb(32, 32, 32);
	color: rgb(216, 222, 227);
	font-size: 14px;
}

a:active {color: #ff0000; text-decoration: none}
a:link {color: #a00000; text-decoration: none}
a:visited {color: #a00000; text-decoration: none}
a:hover {color: #a00000; text-decoration: none}

div.kit {
	display: table;
	width: 100%;
	height: 100%;
}

div.top {
	display: table-row;
	background-image: linear-gradient(to bottom, rgb(87, 89, 92) 0%, rgb(32, 32, 32) 100%);
}

div.topmenu {
	display: table;
	width: 100%;
}

div.topmenu2 {
	display: table-row;
	width: 100%;
}

div.topleft {
	display: table-cell;
}

div.topright {
	display: table-cell;
	text-align: right;
}

div.center {
	display: table-row;
	height: 100%;
}

div.content {
	height: 100%;
	overflow: auto;
}

div.bottom {
	display: table-row;
	text-align: center;
	vertical-align: middle;
	height: 20px;
	background-image: linear-gradient(to bottom, rgb(32, 32, 32) 0%, rgb(5, 5, 5) 50%, rgb(32, 32, 32) 100%);
}

div.kitt {
	background-image: -webkit-radial-gradient(50px 10px, farthest-corner, rgb(255, 0, 0) 0%, rgba(5, 5, 5, 0) 80%);
	width: 100px;
	height: 20px;
	vertical-align: middle;
	visibility: hidden;
	position: relative;
}

button {
	border: 1px solid rgb(5, 5, 5);
	border-radius: 3px;
	font-size: 12px;
	font-family:arial;
	padding: 2px 10px 2px 10px;
	text-decoration: none;
	display: inline-block;
	color: rgb(216, 222, 227);
	background-image: linear-gradient(to bottom, rgb(87, 89, 92) 0%, rgb(74, 75, 78) 5%, rgb(32, 32, 32) 10%, rgb(32, 32, 32) 95%, rgb(5, 5, 5) 100%);
}

.alert {
	border: 1px solid rgb(5, 5, 5);
	border-radius: 3px;
	font-size: 12px;
	font-family:arial;
	padding: 2px 10px 2px 10px;
	text-decoration: none;
	display: inline-block;
	color: rgb(216, 222, 227);
	background-image: linear-gradient(to bottom, rgb(255, 100, 100) 0%, rgb(220, 80, 80) 5%, rgb(128, 40, 40) 10%, rgb(128, 40, 40) 95%, rgb(20, 20, 20) 100%);
}

button:hover {
	background-image: linear-gradient(to bottom, rgb(87, 89, 92) 0%, rgb(74, 75, 78) 5%, rgb(64, 64, 64) 10%, rgb(32, 32, 32) 95%, rgb(5, 5, 5) 100%);
}
